<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="TurtleGeneratorPlugin"
   iconfile="icon.png"
   description="TurtleGenerator"
   tooltip="Gera rdf em formato turtle a partir de um CSV"
   category="LinkedDataBR"
   classname="triplegeneratorpackage.DataCubeStepMeta">
   <libraries>
		<library name="TurtleGenerator.jar"/>
		<library name="KettlePluginTools.jar"/>
		<library name="xstream-1.3.1.jar"/>
	</libraries>
</plugin>
